<!--{%extends 'axf/base.html' %}-->
{% load static from staticfiles %}

<!--{%block home%}-->
<!--<link rel="stylesheet" type="text/css" href="{%static 'axf/home/css/home.css'%}" />-->
<!--<link rel="stylesheet" type="text/css" href="/static/axf/main/css/swiper.min.css" />-->
<!--<script type="text/javascript" charset="utf-8" src="{% static 'axf/home/js/home.js' %}" />-->
<!--<script type="text/javascript" charset="utf-8" src="/static/axf/home/js/home.js" />-->

<link rel="stylesheet" type="text/css" href="/static/axf/main/css/swiper.min.css" />
<script src="/static/axf/main/js/swiper.min.js"></script>

<!--{%endblock home%}-->




<!--{%block main%}-->
<div id="home">
    <section class="swiper-container" id="topSwiper">
        <div class="swiper-wrapper">
            {% for item in wheelsList %}
            <div class="swiper-slide">

                    <img src="{{item.img}}" width="100%" />

            </div>
            {% endfor%}
        </div>

    </section>

</div>
<!--{%endblock main%}-->

  <script>
    var swiper = new Swiper('.swiper-container');
  </script>